@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #c6d1cb;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
}

.header {
    background-color: #0a0a0a;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px;
  }

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
	text-decoration: none;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: red;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    width: 100%;
}

.header-txt{
    width: 60%;
}

.navbar{
    display: inline-block;
    font-size: 10px;
    padding: 5px 13px;
    border-radius: 25px 0 ;
    text-transform: uppercase;
    background-color: #f5be20;
    margin-bottom: 15px;

}

.header-txt h1{
    font-size: 110px;
    line-height: 110px;
    color: #ffffff;
    margin-bottom: 35px;
}

.btn-1{
    display: inline-block;
    padding: 13px 35px;
    background-color: #fa402f;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #08582c;
}

.about{
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
}


/*animacion desde javascrit*/
.carousel-hamburguesas {
    top: 10px;
    display: flex;
    position: relative;
    width: auto;
    overflow: hidden;
    margin: 50px auto;
    padding: 50px;
}

.carousel-inner img{
    width: 100px;
    height: 500px;
    margin: 50px auto;
}

.carousel__track-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel__track {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}

.carousel__slide {
    flex: 0 0 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}

.carousel__button--left {
    left: 0;
}

.carousel__button--right {
    right: 0;
}

.is-hidden {
    display: none;
}

fieldset {
    display: flex;
    width: 53%;
}

/*nosotros*/

.about-img{
    width: 50%;
    text-align: center;
}

.about-img img{
    height: 700px;
}

.about-txt{
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #101010;
}

p{
    font-size: 16px;
    color: #727272;
    margin-bottom: 25px;
}

.nosotros {
    padding: 100px 50px;
    display: flex;
    text-align: center;
}

.nosotros h2{
    text-align: center;
    text-align: center;
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #18b413;
    
}

.product{
    text-align: center;
    padding: 0 0 100px 0;
}

.product-content{
    margin: 50px 0 70px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-1{
    width: 400px;
    padding: 25px 50px;
    
}

.product-1 img{
    width: 200px;
    border-radius: 25px;
    background-color: #282623;
}

.product-1 h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 15px 0;
}

.product-1 span{
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #E83D2C;
    margin-bottom: 15px;
}

.pagos{
    padding: 30px;
}

.pagos h2{
    text-align: center;
    font-size: 35px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000000;
}

.pagos img{  
  min-width: 100px;
  max-width: 100px;
  height: 70px;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
}

.maps h2{
    text-align: center;
    font-size: 35px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000000;
}

.contactos h2{
    text-align: center;
    font-size: 35px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #000000;
}


form {
    margin: 40px 0;
    background: rgba(200, 200, 200, .10);
    border: solid #fff;
    padding: 25px;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50.5%;
    resize: none;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 50.5%;
    justify-content: center;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #045f0c;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(255, 196, 0);
    transform: scale(1.2);
}

.footer__social {
    text-align: center;
    display:inline-flex;
}

.footer__social {    
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, etc */
    font: size 20px;
    top:0%;    
    font-size: 100%;  
}

.footer__social ul {
    list-style: none;
    
}

	.footer__social li a {
		display: inline-block;
		color:rgb(193, 218, 241);
		background: rgb(1, 10, 22);
		padding: 10px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease; /* Establecemos una transición a todas las propiedades */
    }

.footer__social li a .fa-facebook {padding: 1rem 1rem; background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
.footer__social li a .fa-instagram {padding: 1rem 1rem; background: #eb0da1;}
.footer__social li a .fa-youtube-play {padding: 1rem 1rem; background: #ae181f;}
.footer__social li a .fa-linkedin {padding: 1rem 1rem; background: #0d48eb;}
.footer__social li a .fa-twitter {padding: 1rem 1rem; background: #00abf0;}
.footer__social li a .fa-envelope {padding: 1rem 1rem; background:  #d95232;}

.footer__social li a:hover {
		background: #092d5c; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 40px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

.copyright{
    color:#FFFFFF;
    font-size: 20px;
    margin:20px;
}

.footer{
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
    padding: 10px 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3{
    text-align: center;
    color: #fefefe;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a li{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #dcdcdc;
}

.footer p{
    text-align: center;

}

@media(max-width:992px){
    .header {
        padding: 75px;
      }

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right: 0;
        background-color: #F5BE20;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
        background-position: left bottom;
    }

    .header-content{
        padding: 100px 30px 50px 30px;
    }

    .header-txt{
        width: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
        line-height: 70px;
    }

    .about{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .about-img{
        width: 100%;
        order: 2;
    }

    .about-img img{
        height: 400px;
    }

    .about-txt{
        width: 100;
        text-align: center;
        margin-bottom: 30px;
    }

    h2{
        font-size: 40px;
        line-height: 50px;
    }


    .ofert{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .ofert img{
        width: 100%;

    }

    .pagos{
        padding: 30px;
    }
    
    .pagos img{
        min-width: 50px;
        max-width: 50px;
        height: 35px;
        margin: 0;
        grid-template-columns: repeat(2, 2fr);
    }

    .product{
        padding: 30px;
    }

    .product-content{
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .product-1{
        width: 100%;
        padding: 0;

    }

    .horario{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .horario-img{
        width: 100%;
        order: 2;
    }

    .horario-img img{
        height: 400px;
    }

    .horario-txt{
        width: 100;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}
